@model LoginUser
@{
    string msg = ViewData["Message"] as string;
}

<form class="form-horizontal" method="post">
    @if (ViewData["Message"] != null)
    {
        <div class="form-group row">
            <div class="alert alert-@ViewData["MsgType"]">
                <text>@ViewData["Message"]</text>
            </div>
        </div>
    }
    <br /><br /><br />
    <h2 class="offset-4 col-5-text-left form-signin-heading">Login</h2>

    <div class="offset-4 col-5">
        <div class="form-group row">
            <label asp-for="UserId" class="control-label" style="font-family:'HP Simplified'">User ID :</label>
            <input asp-for="UserId" class="form-control" style="font-family:'HP Simplified'" placeholder="Your registered user id" />
            <div class="col-3">
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Password" class="control-label" style="font-family:'HP Simplified'">Password :</label>
            <input asp-for="Password" class="form-control" style="font-family:'HP Simplified'" placeholder="Password" />
            <div class="col-3">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In" />
        </div>
    </div>
</form>
