
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="tab" class="tab-pane">
    <div class="panel-body">
        <div class="accordion" style="padding: 20px">
            <h2>Welcome, @User.Identity.Name</h2>
        </div>
    </div>
</div>
