@model string

    <label class="control-label col-5 text-right">Placeholder {@Model} :</label>
    <div class="col-6">
        <textarea id="figure[@Model]" name="figure[@Model]" rows="1" cols="50" class="form-control" style="width: 250px"></textarea>
    </div>