
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>
<body>
    <div id="tab" class="tab-pane">
        <div class="panel-body">
            <div style="padding: 20px">

                @{
                    ViewBag.Title = "Generate Open-Ended Question";
                }

                <h2>@ViewData["Title"]</h2>
                <br />
                <br />
                <div class="container">
                    <div class="col-6">
                        <form asp-controller="ExercisePaper" asp-action="GenerateOE2" method="post" class="form-horizontal" role="form">
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    <label class="control-label col-5 text-right"><b>Topic : </b></label>
                                    <div class="col-6">
                                        <select id="topics" class="form-control col-6" style="width: 100%"
                                                asp-items="@((SelectList)ViewData["topics"])">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-5 text-right"><b>Enter Figure : </b></label>
                                    <div class="col-6">
                                        <textarea id="figure" name="figure" rows="2" cols="100" class="form-control" style="width: 500px"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row" id="divFigure">

                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-5 text-right"><b>Enter Question : </b></label>
                                    <div class="col-6">
                                        <textarea id="question" name="question" rows="2" cols="100" class="form-control" style="width: 500px"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row" id="divQuestion">

                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-5 text-right"><b>Enter Answer : </b></label>
                                    <div class="col-6">
                                        <textarea id="answer" name="answer" rows="2" cols="100" class="form-control" style="width: 500px"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row" id="divAnswer">

                                </div>
                                <br />

                                <div class="form-group row">
                                    <div class="offset-sm-5 col-6 col-10">
                                        <input type="submit" value="Generate" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $('.form-select2').select2();

    $(document).ready(function () {
        $("#topics").select2({
            placeholder: "Select Topics (Searchable)"
        });

        $("#figure").change(function () {
            var words = $("#figure").val();
            $("#divFigure").load("OE2?word=" + words);
        });
    

    });


</script>