@model List<FYP.Models.SubmitPaper>
@{
    ViewBag.Title = "Grade Student";

    var studentList = ViewData["Students"] as List<FYP.Models.AppUser>;
}

<html>
<head>

</head>
<body>
    <div id="tab" class="tab-pane">
        <div class="panel-body">
            <div style="padding: 20px">
                <h2>Grade Students</h2>
                <br />
                <br />
                <table id="exercisePaperTable" class="table table-bordered table-condensed table-hover table-striped">
                    <tr style="background-color:darkblue">
                        <th scope="col" width="2%" style="color:white">#</th>
                        <th scope="col" width="30%" style="color:white">Student Name</th>
                        <th scope="col" width="5%" style="color:white">Attempt No.</th>
                        <th scope="col" width="5%" style="color:white">Grade Score</th>
                        <th scope="col" width="20%" style="color:white"><p align="center">Action</p></th>
                    </tr>

                    @if (Model != null)
                    {
                        int count = 1;
                        @foreach (var item in Model)
                        {
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @{
                            var username = "";
                            foreach (var name in studentList)
                            {
                                if (name.Id.Equals(item.SubmittedBy))
                                {
                                    username = name.Name;
                                }
                            }
                        }
                        @username
                    </td>
                    <td>
                        @item.Attempts
                    </td>
                    <td>
                        @item.Grade
                    </td>
                    <td align="center">
                        <a class="btn btn-default" style="background-color:dodgerblue; color:white" asp-controller="ExercisePaper" asp-action="Preview" asp-route-id="@item.ExercisePaperId" target="_blank"><b>Check Questions</b></a>
                        <button style="background-color:dodgerblue">
                            <a asp-controller="ExercisePaper" asp-action="GradePage" asp-route-id="@item.Id" style="color:white"><b>Grade</b></a>
                        </button>
                    </td>
                </tr>
                            count++;
                        }
                    }
                </table>
                <br /><br /><br />
            </div>
        </div>
    </div>
</body>
</html>

<style>
</style>
